.characterArmor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemCell {
  height: 60px;
  margin-bottom: 2%;
  position: relative;
}

.item-img {
  height: 60px;
  width: 60px;
}

.scoreOverlay {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: black;
}
