.characterArmor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itemCell {
  flex: 0 32%;
  height: 96px;
  margin-bottom: 2%;
  position: relative;
}

.item-img {
  height: 60px;
  width: 60px;
  position: absolute;
}

.scoreOverlay {
  position: absolute;
  top: 3px;
  right: 3px;
}
