.modal {
  position: fixed;
  width: 200px;
  background: #15151b;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}

h3 {
  margin-top: 2px;
  margin-bottom: 5px;
}

.imgAndFlavor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

img {
  border: 1px white;
  margin: 2px;
}

.highlightedStat {
  color: #ffd700;
}
